.block_xp-xp .sign-img {
    max-height: 100%;
}
.block_xp-xp .sign-img img {
    border: none;
    height: 18px;
    margin: 0 3px;
    padding: 0;
    vertical-align: top;
}
.block_xp-level-progress .sign-img img {
    margin-top: 1px;
}
